/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.datediv {
    
    width: 400px;
    padding: 20px;
}

.flexrow {

    display:flex;
    flex-direction: row;
}

.flexcolumn {

    display: flex;
    flex-direction: column;
}

.nofound {

    margin-left: 20px;
}

/* .company-content {} */
.companies {

    padding: 25px 0px 0px 20px;
}
.company-content h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 7px;
}

.company-content h3 span {
    font-size: 13px;
    padding: 2px 20px;
    /* float: right; */
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
    display: inline-block;
    line-height: 1.7;
    border-radius: 2px;
}

.company-content p span {
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.company-content p span i {
    font-size: 15px;
    margin-right: 5px;
}

.company-list {
    background: #ffffff;
    /* margin: 12px 0; */
    padding: 12px 0 12px 0;
    border: 1px solid #f4f5f7;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(107, 121, 124, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(107, 121, 124, 0.2);
}

.company-content h3 .full-time {
    background: #1ec715;
}

.company-content h3 .freelance {
    background: #01b5ff;
}

.company-content h3 .internship {
    background: #cc68f3;
}

.company-content h3 .part-time {
    background: #ff8f3e;
}


.card-text{

    padding-right: 10px;
    color: #999;
}

.footer {

    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.footerdiv{

    margin-right: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 15px !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}