{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}
{% block body %}
<h4><center>Check your favourites here</center></h4>


<div class="datediv">
    <input type="text" class="mb-3 form-control" name="datepicker" id="datepicker" placeholder="Select your month and year"/>
    <button type="button" class="btn btn-primary">SEARCH</button>
</div>

{% endblock %}
